@font-face {
  font-family: "iconfont"; /* Project id 3595292 */
  src: url('iconfont.woff2?t=1660730497496') format('woff2'),
       url('iconfont.woff?t=1660730497496') format('woff'),
       url('iconfont.ttf?t=1660730497496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huafei:before {
  content: "\e600";
}

.icon-zhanghubaobiao:before {
  content: "\e601";
}

.icon-pengyou:before {
  content: "\e746";
}

.icon-taobao:before {
  content: "\e755";
}

.icon-xinyongqia:before {
  content: "\e785";
}

.icon-jiahao:before {
  content: "\e61f";
}

.icon-wodejifenbao:before {
  content: "\e6db";
}

.icon-jipiao:before {
  content: "\e61b";
}

.icon-jizhangben:before {
  content: "\e61c";
}

.icon-lvxing:before {
  content: "\e626";
}

.icon-qinmifu:before {
  content: "\e62b";
}

.icon-youxichongzhi:before {
  content: "\e638";
}

.icon-zhuanzhang:before {
  content: "\e63c";
}

.icon-gupiao:before {
  content: "\e620";
}

.icon-qiaquan:before {
  content: "\e63e";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-zhifubao:before {
  content: "\e8e4";
}

.icon-jisuanqi_o:before {
  content: "\eba0";
}

.icon-Magnifier:before {
  content: "\e62d";
}

.icon-zhangdan:before {
  content: "\e60c";
}

.icon-zhengzhouyinhangAPPtubiaodiergaolunkuohuachunse-10:before {
  content: "\e644";
}

.icon-cry:before {
  content: "\e66a";
}

.icon-koubei:before {
  content: "\f9b2";
}

.icon-koubei1:before {
  content: "\fb60";
}

